@import "tailwindcss";

@theme {
  --color-primary: #00E5FF;
  --color-accent: #4CAF50;
  --color-background: #121212;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    margin: 0;
    padding: 0;
  }
}
